/* comment1 */
*{margin:5px 10px;}
/* comment2 */

/**
 * comment3
 **/
div , p { margin:0.5cm; }

p {
    line-height:1.5;
}

p {
    line-height:.5;
    a {
        color:red;
        span {
            text-indent:-1em;
        }
    }
}

#main,#sub {
    dt {
        margin:0;
    }
}

#main {
    sup,sub {
        color:'red"';
    }
}

#main,#sub {
    ul, ol {
        margin:0;
        sup,sub {
            font-family:"Helvatica, Verdana, 'sans-serif'";
            fint-weight:bold;
        }
    }
}

#maincol {
    width:100%;
    margin:10px 20px;
    div.section {
        padding:10px;
        border:1px solid red;
    }
}

#header { margin:0; padding:1em;background:#efefef;  color:#000; }

div#header {
    margin-top:1em 1ex 1pt 1pc;
    padding-top:   1px;
    padding-right: 1cm;
    padding-bottom:1mm;
    padding-left:  1in;
    border:1px solid #f90;
}

.button {
    display:block !important;
}

a.nav {
    margin:1pt;
    background:url('/images/bg_img.png');
    color:#333;
}

div.parent.child {
    margin:0;
}

h2>a,h3+span {
    display:inline-block;
    text-decoration:none;
}

h2 > a,h3 + span { background:#fff url("http://example.com/images/bg.jpg") no-repeat 50% bottom; }

div p,
img {
    margin:2em;
    padding:0;
    background:none;
}
